<%= form_for([@price_book,@invite]) do |f| %>
  <% if @invite.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @invite.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <button class="btn btn-default">Invite</button>
<% end %>
