<% if @purchase_item.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@purchase_item.errors.count, "error") %> prohibited this purchase_item from being saved:</h2>

    <ul>
      <% @purchase_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="form-group">
  <%= f.label :product_brand_name %><br>
  <%= f.text_field :product_brand_name %>
</div>
<div class="form-group">
  <%= f.label :generic_name %><br>
  <%= f.text_field :generic_name %>
</div>
<div class="form-group">
  <%= f.label :category %><br>
  <%= f.select :category, ['Bakery','Fresh','Frozen','Ready Meals', 'Food Cupboard', 'Snacks and Sweets', 'Drinks', 'Household', 'Pets','Baby','Health and Beauty', 'Other'] %>
</div>
<div class="form-group">
  <%= f.label :package_type %><br>
  <%= f.select :package_type, ['Can','Packet','Box','Bag','Other'] %>
</div>
<div class="form-group">
  <%= f.label :package_size %><br>
  <%= f.number_field :package_size %>
</div>
<div class="form-group">
  <%= f.label :package_unit %><br>
  <%= f.select :package_unit, ['ml','Liters','grams','Kilograms'] %>
</div>
<div class="form-group">
  <%= f.label :quanity %><br>
  <%= f.number_field :quanity %>
</div>
<div class="form-group">
  <%= f.label :total_price %><br>
  <%= f.text_field :total_price %>
</div>
<%= f.submit nil, class: 'btn btn-default' %>

