<div class="form-group">
  <label class="sr-only" for="purchase_item_product_brand_name">Product brand name</label>
  <input data-autocomplete-products
         type="text"
         class="form-control"
         name="purchase_item[product_brand_name]"
         id="purchase_item_product_brand_name"
         placeholder="Product name"
         value="<%= item.product_brand_name %>" />
</div>
<div class="form-group">
  <label class="sr-only" for="purchase_item_regular_name">Price Book Page</label>
  <input type="text"
         class="form-control"
         name="purchase_item[regular_name]"
         id="purchase_item_regular_name"
         placeholder="Price Book Page"
         data-autocomplete-price-book-pages
         value="<%= item.regular_name %>" />
</div>
<div class="form-group">
  <label class="sr-only" for="purchase_item_category">Category</label>
  <select name="purchase_item[category]" id="purchase_item_category">
    <option value="">-- Select Category --</option>
    <% ['Bakery','Fresh','Frozen','Ready Meals','Food Cupboard',
        'Snacks and Sweets','Drinks','Household','Pets','Baby',
        'Health and Beauty','Other'].each do |category| %>
      <option <% if item.category == category %>selected=""<% end %>>
        <%= category %>
      </option>
    <% end %>
  </select>
</div>
<div class="form-group">
  <label class="sr-only" for="purchase_item_package_unit">Package unit</label>
  <input type="text"
         class="form-control"
         name="purchase_item[package_unit]"
         id="purchase_item_package_unit"
         placeholder="Package unit"
         value="<%= item.package_unit %>"/>
</div>
<div class="form-group">
  <label class="sr-only" for="purchase_item_package_size">Package size</label>
  <input type="text"
         class="form-control"
         name="purchase_item[package_size]"
         id="purchase_item_package_size"
         placeholder="Package size"
         value="<%= item.package_size %>"/>
</div>
<div class="form-group">
  <label class="sr-only" for="purchase_item_quantity">Quantity</label>
  <input type="number"
         class="form-control"
         name="purchase_item[quantity]"
         id="purchase_item_quantity"
         placeholder="Quantity"
         value="<%= item.quantity %>" />
</div>
<div class="form-group">
  <label class="sr-only" for="purchase_item_total_price">Total price</label>
  <input type="text"
         class="form-control"
         name="purchase_item[total_price]"
         id="purchase_item_total_price"
         placeholder="Total price"
         value="<%= item.total_price %>" />
</div>
<button type="submit" class="btn btn-default">Save</button>
