<% if @purchase_item.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@purchase_item.errors.count, "error") %> prohibited this purchase_item from being saved:</h2>

    <ul>
      <% @purchase_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="form-group">
  <label for="purchase_item_product_brand_name">Product brand name</label><br>
  <input data-autocomplete-products
         type="text"
         class="form-control"
         name="purchase_item[product_brand_name]"
         id="purchase_item_product_brand_name"
         value="<%= @purchase_item.product_brand_name %>" />
</div>
<div class="form-group">
  <label for="purchase_item_regular_name">Price Book Page</label><br>
  <input type="text"
         class="form-control"
         name="purchase_item[regular_name]"
         id="purchase_item_regular_name"
         data-autocomplete-price-book-pages
         value="<%= @purchase_item.regular_name %>" />
</div>
<div class="form-group">
  <label for="purchase_item_category">Category</label><br>
  <select name="purchase_item[category]" id="purchase_item_category">
    <option value=""></option>
    <% ['Bakery','Fresh','Frozen','Ready Meals','Food Cupboard',
        'Snacks and Sweets','Drinks','Household','Pets','Baby',
        'Health and Beauty','Other'].each do |category| %>
      <option <% if @purchase_item.category == category %>selected=""<% end %>>
        <%= category %>
      </option>
    <% end %>
  </select>
</div>
<div class="form-group">
  <label for="purchase_item_package_unit">Package unit</label><br>
  <input type="text"
         class="form-control"
         name="purchase_item[package_unit]"
         id="purchase_item_package_unit"
         value="<%= @purchase_item.package_unit %>"/>
</div>
<div class="form-group">
  <label for="purchase_item_package_size">Package size</label><br>
  <input type="number"
         class="form-control"
         name="purchase_item[package_size]"
         id="purchase_item_package_size"
         value="<%= @purchase_item.package_size %>"/>
</div>
<div class="form-group">
  <label for="purchase_item_quanity">Quanity</label><br>
  <input type="number"
         class="form-control"
         name="purchase_item[quanity]"
         id="purchase_item_quanity"
         value="<%= @purchase_item.quanity %>" />
</div>
<div class="form-group">
  <label for="purchase_item_total_price">Total price</label><br>
  <input type="text"
         class="form-control"
         name="purchase_item[total_price]"
         id="purchase_item_total_price"
         value="<%= @purchase_item.total_price %>" />
</div>
<input type="submit" name="commit" value="Save" class="btn btn-default" />

