<div class="row">
  <div class="col-md-12">
    <h1>Items for <%= @purchase.store %> on <%= @purchase.purchased_on %></h1>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>Product brand name</th>
        <th>Generic name</th>
        <th>Package type</th>
        <th>Package size</th>
        <th>Package unit</th>
        <th>Quanity</th>
        <th>Total price</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @purchase_items.each do |purchase_item| %>
        <tr>
          <td><%= purchase_item.product_brand_name %></td>
          <td><%= purchase_item.generic_name %></td>
          <td><%= purchase_item.package_type %></td>
          <td><%= purchase_item.package_size %></td>
          <td><%= purchase_item.package_unit %></td>
          <td><%= purchase_item.quanity %></td>
          <td><%= purchase_item.total_price %></td>
          <td>
            <%= link_to 'Show', purchase_item_path(@purchase, purchase_item), class: 'btn btn-default'  %>
            <%= link_to 'Edit', edit_purchase_item_path(@purchase, purchase_item), class: 'btn btn-default'  %>
            <%= link_to 'Destroy', delete_purchase_item_path(@purchase, purchase_item), class: 'btn btn-default'  %>
          </td>
        </tr>
      <% end %>
      </tbody>
      <tfoot>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><%= @purchase.total_cost %></th>
        <th></th>
      </tfoot>

    </table>

    <br>

    <%= link_to 'New Purchase item', new_purchase_item_path, class: 'btn btn-default' %>
  </div>
</div>
