<div class="row">
  <div class="col-md-12">
    <p>
      <strong>Purchase:</strong>
      <%= @purchase.store %> on <%= @purchase.purchased_on %>
    </p>

    <p>
      <strong>Product brand name:</strong>
      <%= @purchase_item.product_brand_name %>
    </p>

    <p>
      <strong>Package size:</strong>
      <%= @purchase_item.package_size %>
    </p>

    <p>
      <strong>Package unit:</strong>
      <%= @purchase_item.package_unit %>
    </p>

    <p>
      <strong>Quanity:</strong>
      <%= @purchase_item.quanity %>
    </p>

    <p>
      <strong>Total price:</strong>
      <%= @purchase_item.total_price %>
    </p>

    <%= link_to 'Edit', edit_purchase_item_path(@purchase, @purchase_item), class: 'btn btn-default' %> |
    <%= link_to 'Back', purchase_items_path(@purchase), class: 'btn btn-default' %>
  </div>
</div>
