<%= form_for(@regular_item) do |f| %>
  <% if @regular_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@regular_item.errors.count, "error") %> prohibited this regular_item from being saved:</h2>
      <ul>
      <% @regular_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :category %><br>
  <%= f.select :category, ['Bakery','Fresh','Frozen','Ready Meals', 'Food Cupboard', 'Snacks and Sweets', 'Drinks', 'Household', 'Pets','Baby','Health and Beauty', 'Other'], include_blank: true %>
  </div>
  <%= f.submit 'Create Regular Item', class: 'btn btn-default' %>
<% end %>
