<%= form_for(@purchase) do |f| %>
  <% if @purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
        <% @purchase.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label for="purchased_on">Purchased on</label><br>
    <input type="date"
           class="form-control"
           name="purchase[purchased_on]"
           id="purchased_on"
           value="<%= @purchase.purchased_on %>">
  </div>
  <div class="form-group">
    <label for="purchase_store">Store</label><br>
    <input data-autocomplete-stores
           type="text"
           class="form-control"
           name="purchase[store]"
           id="purchase_store"
           value="<%= @purchase.store %>">
  </div>
  <div class="form-group">
    <label for="purchase_location">Location</label><br>
    <input data-autocomplete-locations
           type="text"
           class="form-control"
           name="purchase[location]"
           id="purchase_location"
           value="<%= @purchase.location %>">
  </div>
  <%= f.submit nil, class: 'btn btn-default' %>
<% end %>
