<div class="row">
  <div class="col-md-12">
    <h1>Editing Purchase</h1>
    <form action="<%= purchase_items_path(@purchase) %>" method="post">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <button class='btn btn-default'>Add item</button>
      <%= link_to 'Destroy', delete_purchase_path(@purchase), class: 'btn btn-default' %>
      <%= link_to 'Back', purchases_path, class: 'btn btn-default' %>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= form_for(@purchase, html: { class: 'form-inline' } ) do %>
      <div class="form-group">
        <label class="sr-only" for="purchased_on">Purchased on</label>
        <input type="date"
               class="form-control"
               name="purchase[purchased_on]"
               id="purchased_on"
               placeholder="Purchased on"
               value="<%= @purchase.purchased_on %>">
      </div>
      <div class="form-group">
        <label class="sr-only" for="purchase_store">Store</label>
        <input data-autocomplete-stores
               type="text"
               class="form-control"
               name="purchase[store]"
               id="purchase_store"
               placeholder="Store"
               value="<%= @purchase.store %>">
      </div>
      <div class="form-group">
        <label class="sr-only" for="purchase_location">Location</label>
        <input data-autocomplete-locations
               type="text"
               class="form-control"
               name="purchase[location]"
               id="purchase_location"
               placeholder="Location"
               value="<%= @purchase.location %>">
      </div>
      <button type="submit" class="btn btn-default">Update</button>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Items</h2>
    <% @items.each_with_index do |item, i| %>
      <%= form_for(item,
                   url: purchase_item_path(@purchase, item),
                   html: { class: 'form-inline form-group-sm',
                           id: "item_#{i}" } ) do %>
        <%= render 'purchase_items/form', item: item %>
        <a href="<%= delete_purchase_item_path(@purchase, item) %>"
           class="btn btn-default">
          Delete
        </a>
      <% end %>
    <% end %>
  </div>
</div>
