<h1>Listing Purchases</h1>

<table>
  <thead>
    <tr>
      <th>Purchased on</th>
      <th>Store</th>
      <th>Location</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @purchases.each do |purchase| %>
      <tr>
        <td><%= purchase.purchased_on %></td>
        <td><%= purchase.store %></td>
        <td><%= purchase.location %></td>
        <td><%= link_to 'Show', purchase %></td>
        <td><%= link_to 'Items', purchase_items_path(purchase) %></td>
        <td><%= link_to 'Edit', edit_purchase_path(purchase) %></td>
        <td><%= link_to 'Destroy', delete_purchase_path(purchase) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Purchase', new_purchase_path %>
