<div class="row">
  <div class="col-md-12">
    <h1>Listing Purchases</h1>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>Purchased on</th>
        <th>Store</th>
        <th>Location</th>
        <th>Total Cost</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @purchases.each do |purchase| %>
        <tr>
          <td><%= purchase.purchased_on %></td>
          <td><%= purchase.store %></td>
          <td><%= purchase.location %></td>
          <td><%= purchase.total_cost %></td>
          <td>
            <%= link_to 'Items', purchase_items_path(purchase), class: 'btn btn-default' %>
            <%= link_to 'Edit', edit_purchase_path(purchase), class: 'btn btn-default' %>
            <%= link_to 'Destroy', delete_purchase_path(purchase), class: 'btn btn-default' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Purchase', new_purchase_path, class: 'btn btn-default' %>
  </div>
</div>
