<p id="notice"><%= notice %></p>

<p>
  <strong>Purchased on:</strong>
  <%= @purchase.purchased_on %>
</p>

<p>
  <strong>Store:</strong>
  <%= @purchase.store %>
</p>

<p>
  <strong>Location:</strong>
  <%= @purchase.location %>
</p>

<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
