<div class="row">
  <div class="col-md-12">
    <h1>Shopping List <%= @shopping_list.created_on %></h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <form action="<%= shopping_list_items_path(@shopping_list) %>" method="post" class="form-inline">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <div class="form-group">
        <label class="sr-only" for="shopping_list_item_name">Item name</label>
        <input class="form-control"
               name="shopping_list_item[name]"
               id="shopping_list_item_name"
               placeholder="Item name">
      </div>
      <div class="form-group">
        <label class="sr-only" for="shopping_list_item_amount">Amount</label>
        <input type="number"
               class="form-control"
               name="shopping_list_item[amount]"
               id="shopping_list_item_amount"
               placeholder="Amount" >
      </div>
      <div class="form-group">
        <label class="sr-only" for="shopping_list_item_unit">Unit</label>
        <input type="text"
               class="form-control"
               name="shopping_list_item[unit]"
               id="shopping_list_item_unit"
               placeholder="Unit" >
      </div>
      <button class='btn btn-default'>Add</button>
      <%= link_to 'Back', shopping_lists_path %>
    </form>
  </div>
</div>

<div class="row">
  <% @shopping_list_items.each do |item| %>
      <div id="<%= item.item_div_id %>"
           class="col-sm-12">
        <% unless item.done %>
          <form action="<%= done_shopping_list_item_path(@shopping_list,item) %>"
                method="post"
                class="inline-form-for-button">
            <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
            <button title="done"
                    class='btn-xs btn-primary'>
              <span class="glyphicon glyphicon-ok"></span>
            </button>
          </form>
        <% end %>
        <form action="<%= shopping_list_item_path(@shopping_list,item) %>"
              method="post"
              class="inline-form-for-button">
          <input hidden name="_method" value="delete">
          <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
          <button title="remove"
                  class='btn-xs btn-warning'>
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </form>

        <%= item.display_name %>
      </div>
  <% end %>
</div>
