<%= form_for(@price_book_page) do |f| %>
  <% if @price_book_page.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @price_book_page.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :category %><br>
    <%= f.select :category, ['Bakery','Fresh','Frozen','Ready Meals', 'Food Cupboard',
                             'Snacks and Sweets', 'Drinks', 'Household', 'Pets','Baby',
                             'Health and Beauty', 'Other'], include_blank: true %>
  </div>
  <div class="form-group">
    <%= f.label :unit %><br>
    <%= f.select :unit, ['grams','kilograms', 'milliliters','liters', 'gallons','pounds','items',
                         'bags','packages', 'centimeters', 'meters','inches','ounces','pints', 'yard',
                         'cubic feet', 'cubic inches', 'cubic meters', 'fluid ounces', 'quarts',
                         'square feet', 'square inch', 'square meter', 'square yard'],
                          include_blank: true %>
  </div>
  <%= f.submit nil, class: 'btn btn-default' %>
<% end %>
