<%= form_for(@price_book_page) do |f| %>
  <% if @price_book_page.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @price_book_page.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :category %><br>
  <%= f.select :category, ['Bakery','Fresh','Frozen','Ready Meals', 'Food Cupboard', 'Snacks and Sweets', 'Drinks', 'Household', 'Pets','Baby','Health and Beauty', 'Other'], include_blank: true %>
  </div>
  <% if @price_book_page.new_record? %>
    <%= f.submit 'Create Regular Item', class: 'btn btn-default' %>
  <% else %>
    <%= f.submit 'Update Regular Item', class: 'btn btn-default' %>
  <% end %>
<% end %>
