<div class="row">
  <div class="col-md-12">
    <h1><%= @price_book_page.category %>: <%= @price_book_page.name %></h1>
    <a class="btn btn-primary" href="<%= new_book_page_entry_path(@price_book,@price_book_page) %>">New Price</a>
    <a class="btn btn-default" href="<%= edit_price_book_page_path(@price_book_page) %>">Edit</a>
    <a class="btn btn-default" href="<%= price_book_pages_path %>">Back</a>

    <table class='table table-striped'>
      <thead>
      <tr>
        <th>Date</th>
        <th>Store</th>
        <th>Location</th>
        <th>Product</th>
        <th>Package size</th>
        <th>Price per <%= @price_book_page.unit %></th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @prices.each do |price| %>
        <tr>
          <td><%= price.date_on %></td>
          <td><%= price.store.name %></td>
          <td><%= price.store.location %></td>
          <td><%= price.product_name %></td>
          <td><%= price.package_size %></td>
          <td><%= price.price_per_unit %></td>
          <td>
            <% if EntryOwner.can_update?(shopper: current_shopper, entry: price) %>
              <a href="<%= edit_book_page_entry_path(@price_book,@price_book_page,price) %>" title="Edit Entry">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
              </a>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
