<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="<%= image_path('logo.svg') %>" height="30" alt="my price book"></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="http://blog.my-grocery-price-book.co.za/">Blog</a></li>
        <li><a href="<%= price_check_path %>">Price Check</a></li>
        <li><a href="<%= price_book_pages_path %>">Price Book</a></li>
        <li><a href="<%= latest_shopping_list_items_path %>">Shopping List</a></li>
        <li>
        <% if shopper_signed_in? %>
          <% if current_shopper.guest? %>
            <a href="<%= guest_register_path %>">Register</a>
          <% else %>
            <%= form_tag(destroy_shopper_session_path, method: :delete, class: 'form-inline form-inline-block') do |f| %>
              <button class='btn btn-link btn-logout'>Logout</button>
            <% end %>
          <% end %>
        <% else %>
          <a href="<%= new_shopper_session_path %>">Login</a>
        <% end %>
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>
