<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="assets/logo.svg" height="30" alt="my price book"></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="<%= price_check_path %>">Price Check</a></li>
        <li><a href="<%= purchases_path %>">Purchases</a></li>
        <li><a href="<%= price_book_pages_path %>">Price Book</a></li>
        <li><a href="<%= profile_path %>">Profile</a></li>
        <li><a href="<%= shopping_lists_path %>">Shopping List</a></li>
        <li>
        <% if shopper_signed_in? %>
          <%= form_tag(destroy_shopper_session_path, method: :delete, class: 'form-inline') do |f| %>
            <button class='logout'>Logout</button>
          <% end %>
        <% else %>
          <a href="<%= new_shopper_session_path %>">Login</a>
        <% end %>
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>
