<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>My Grocery Price Book</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/black-tie/jquery-ui.css">


  <%= stylesheet_link_tag comfy_cms_render_css_path(@cms_site.id, @cms_layout.identifier) if @cms_site %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/menu' %>

<div class="container">

  <% if notice or alert %>
    <div class="row">
      <div class="col-md-12">
        <p id='notice' class="notice"><%= notice %></p>
        <p id='alert' class="alert"><%= alert %></p>
      </div>
    </div>
  <% end %>

  <%= yield %>

</div>

<%= render 'layouts/ga' %>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<%= javascript_include_tag 'application' %>
<%= javascript_include_tag comfy_cms_render_js_path(@cms_site.id, @cms_layout.identifier) if @cms_site %>
</body>
</html>
