<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>My Grocery Price Book</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'vendor', 'application', media: 'all' %>
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
  <%= render 'layouts/ga' unless Rails.env.test? %>
</head>
<body data-turbolinks="<%= !Rails.env.test? %>">

<%= render 'layouts/menu' %>

<div class="container-fluid">

  <% if notice %>
    <div class="row">
      <div class="col-md-12">
        <div id="notice" class="alert alert-info">
          <%= notice %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
  <% end %>

  <% if alert %>
      <div class="row">
        <div class="col-md-12">
          <div id="alert" class="alert alert-warning">
            <%= alert %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
  <% end %>

  <%= yield %>

</div>


<%= render 'layouts/footer' %>

<%= javascript_include_tag 'vendor' %>
<%= javascript_include_tag 'application' %>
<% if current_shopper %>
<script>
  Rollbar.configure({
    payload: {
      person: {
        id: <%= current_shopper.id %>,
        email: "<%= current_shopper.email %>",
        guest: "<%= current_shopper.guest %>"
      }
    }
  });
</script>
<% end %>
</body>
</html>
