<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>My Grocery Price Book</title>
  <%= csrf_meta_tags %>
  <%= render 'layouts/critical_css' %>
</head>
<body>

<%= render 'layouts/menu' %>

<div class="container-fluid">

  <% if notice %>
    <div class="row">
      <div class="col-md-12">
        <div id="notice" class="alert alert-info">
          <%= notice %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
  <% end %>

  <% if alert %>
      <div class="row">
        <div class="col-md-12">
          <div id="alert" class="alert alert-warning">
            <%= alert %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
  <% end %>

  <%= yield %>

</div>


<%= render 'layouts/footer' %>

<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
<%= stylesheet_link_tag 'vendor', 'application', media: 'all' %>
<%= javascript_include_tag 'vendor' %>
<%= javascript_include_tag 'application' %>

<%= render 'layouts/ga' unless Rails.env.test? %>

</body>
</html>
